 <!--
<div class="flex flex-column align-items-center ">
    <div pAnimate enterClass="flip" leaveClass="fadeoutleft" class="flex justify-content-center align-items-center border-round shadow-2 animation-duration-1000 animation-ease-out">
        <p-image src="../../assets/logo.png" alt="Image" width="100%"></p-image> 
    </div>
    </div>

-->

<br>
<div class="card">
    <p-tabView [scrollable]="true" styleClass="tabview-custom">
        <p-tabPanel header="Fiche Suiveuse"> 
            <div class="card">
            <app-trs-enc></app-trs-enc>
            </div>
       </p-tabPanel>

        <p-tabPanel header="Situation de La Trésorerie ">   
            

        </p-tabPanel>
         
        <p-tabPanel header="Montants des chèques en Instances d'Encaissement"> 


        </p-tabPanel>

        <p-tabPanel header="Les Placements En Cours"> 

                    </p-tabPanel>

    </p-tabView>


</div>